<% include ./partials/header %>

<% if(currentUser){ %>
    <form action="/art" method="POST">
        <label class="gridForm">Moving the Projects
            <select name="gridMove" id="">
                <option value="gridDown">Down the page</option>
                <option value="gridUp">Up the page</option>
            </select>
        </label>
        <label class="gridForm">
            <input type="submit" value="MOVE">
        </label>
    </form>
<% } %>

<div class="content">
    <!-- Left Navbar -->
    <nav id="leftnav">
        <div id="leftlinks">
            <a href="about">Contact</a>
            <a href="concept">Concept</a>
        </div>
    </nav>
    
    <section class="container">
        <% projects.forEach(function(project, index){ %>
            <div class="thumbnail fadeAnimation">
                <a href="/project/<%= project._id %>">
                    <img src="<%= cloudinary.url(`square_circle/${project.title}_image0.jpg`, {quality: 30, crop: `fit`}) %>" alt="<%= project.title %> image">
                    <h4><span><%= project.title %></span></h4> 
                    <h6><%= project.shortDesc %></h6>
                </a>
                <a href="/project/<%= project._id %>/edit">
                    <button>EDIT PROJECT</button>
                </a>
            </div>
        <% }); %>
    </section>
</div>

<!-- required for .ejs variable (projects) to be passed to .js script file (disable-grid.js) -->
<script type="text/javascript">
    let thumbProjects = <%-JSON.stringify(projects, ['_id', 'title', 'shortDesc', 'xPosition', 'yPosition'])%>;
</script>
<script type="text/javascript" src="/scripts/disable-grid.js"></script>

<% include ./partials/footer %>