<% include ./partials/header %>


<h1>Editing <%= project.title %></h1>
<form action="/project/<%= project._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
    <label class="form">Project Title
        <input type="text" name="project[title]" value="<%=project.title%>">
    </label>
    <label class="form">Project Type
        <select name="project[projectType]" id="">
            <option value="Graphic Design">Graphic Design</option>
            <option value="Photography">Photography</option>
            <option value="Art">Art</option>
        </select>
    </label>
    <label class="form">Thumbnail Description
        <textarea name="project[shortDesc]" cols="30" rows="3"><%=project.shortDesc%></textarea>
    </label>
    <label class="form">English Description
        <textarea name="project[englishDesc]" cols="50" rows="10"><%= project.englishDesc %></textarea>
    </label>
    <label class="form">Lithuanian Description
        <textarea name="project[lithuanianDesc]" cols="50" rows="10"><%= project.lithuanianDesc %></textarea>
    </label>
    <label class="form">Project Date 
        <input type="date" name="project[projectDate]" value="<%= project.projectDate %>">
    </label>
    <label class="form">Image Upload
        <input type="file" name="image" accept="image/*">
    </label>
    <label class="form">Horizontal position (a number): 
        <input type="number" name="project[xPosition]" value="<%= project.xPosition %>">
    </label>
    <label class="form">Vertical position (a number): 
        <input type="number" name="project[yPosition]" value="<%= project.yPosition %>">
    </label>

    <label class="form">Make changes
        <input type="submit" value="Edit Project">
    </label>
</form>



<% include ./partials/footer %>