<% include ./partials/header %>


<h1>Editing <%= project.title %></h1>
<form action="/project/<%= project._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
    <label class="form">Project Title (Can not edit title)
        <input type="text" name="project[title]" value="<%=project.title%>" readonly>
    </label>
    <label class="form">Lithuanian Project Title 
        <input type="text" name="project[titleLith]" value="<%=project.titleLith%>">
    </label>
    <label class="form">Project Type
        <select name="project[projectType]" id="">
            <option value="Graphic Design">Graphic Design</option>
            <option value="Photography">Photography</option>
            <option value="Art">Art</option>
        </select>
    </label>
    <label class="form">Thumbnail Description
        <textarea name="project[shortDesc]" cols="30" rows="3"><%=project.shortDesc%></textarea>
    </label>
    <label class="form">English Description
        <textarea name="project[englishDesc]" cols="50" rows="10"><%= project.englishDesc %></textarea>
    </label>
    <label class="form">Lithuanian Description
        <textarea name="project[lithuanianDesc]" cols="50" rows="10"><%= project.lithuanianDesc %></textarea>
    </label>
    <label class="form">Project Date 
        <input type="date" name="project[projectDate]" value="<%= project.projectDate %>">
    </label>
    <label class="form">Image Upload (Maximum 10MB per image)
        <input type="file" name="image" accept="image/*" multiple>
    </label>
    <label class="form">Horizontal position (a number between 1-12): 
        <input type="number" name="project[xPosition]" value="<%= project.xPosition %>">
    </label>
    <label class="form">Vertical position (a number between 1-24): 
        <input type="number" name="project[yPosition]" value="<%= project.yPosition %>">
    </label>
    <label class="form">Horizontal fine position (-12 to +12): 
        <input type="number" name="project[xFine]" value="<%= project.xFine %>">
    </label>
    <label class="form">Vertical fine position (-12 to +12): 
        <input type="number" name="project[yFine]" value="<%= project.yFine %>">
    </label>

    <label class="form">Make changes
        <input type="submit" value="Save Changes">
    </label>
</form>

<section class="delete">
    <h1>Delete Project</h1>
    <form action="/project/<%= project._id %>?_method=DELETE" method="POST">
        <label class="form">
            Permanently delete the current project 
            <br>
            THERE IS NO UNDO - BE SURE YOU SELECTED THE CORRECT PROJECT
            <input type="submit" value="Delete Project">
        </label>
    </form>
</section>

<% include ./partials/footer %>