<% include ./partials/header %>
<div class="content">
    
    <!-- Left Navbar -->
    <nav id="leftnav">
        <div id="leftlinks">
            <a href="about">Contact</a>
            <a href="concept">Concept</a>
        </div>
    </nav>
    
    <section class="container">
        <% projects.forEach(function(project, index){ %>
            <div class="thumbnail fadeAnimation">
                <a href="/project/<%= project._id %>">
                    <img src="<%= cloudinary.url(`square_circle/${project.title}_image0.jpg`, {quality: 30, crop: `fit`}) %>" alt="<%= project.title %> image">
                    <h4><span><%= project.title %></span></h4> 
                    <h6><%= project.shortDesc %></h6>
                    <!-- <span style="font-size: 0.7rem;">position xy: <%= project.xPosition %>, <%= project.yPosition %></span> -->
                </a>
            </div>
        <% }); %>
    </section>
</div>

<script>
    let thumbnail = document.getElementsByClassName("thumbnail");
    let thumbProjects = <%- JSON.stringify(projects, ['_id', 'title', 'shortDesc', 'xPosition', 'yPosition']) %>;

    var x = window.matchMedia("(max-width: 767px)");
    x.addListener(disableGrid); //attaches listener function on state changes
    disableGrid(x); //call listener funct

    function disableGrid(x){
        if (x.matches) {
            for (i=0; i<thumbProjects.length; i++){
                thumbnail[i].setAttribute("id", `image${i + 1}`)

                thumbnail[i].removeAttribute("style");
                thumbnail[i].removeAttribute("style");
            };
        } else {
            for (i=0; i<thumbProjects.length; i++){
                thumbnail[i].setAttribute("id", `image${i + 1}`)

                thumbnail[i].style.gridColumnStart = thumbProjects[i].xPosition;
                thumbnail[i].style.gridRowStart = thumbProjects[i].yPosition;
            };
        }
    }

</script>

<!-- auto selection of xPosition and yPosition values
could be done based on previous projects values if 
field left empty -->




<% include ./partials/footer %>