<% include ./partials/header %>

<section class="container">
    <% projects.forEach(function(project, index){ %>
        <div class="thumbnail fadeAnimation">
            <a href="/<%= project._id %>">
                <img src="<%= cloudinary.url(`square_circle/${project.title}.jpg`, {quality: 50, crop: `scale`}) %>" alt="<%= project.title %> image">
                <h4><span><%= project.title %></span></h4> 
                <h6><%= project.shortDesc %></h6>
                <span style="font-size: 0.7rem;">position xy: <%= project.xPosition %>, <%= project.yPosition %></span>
            </a>
        </div>
    <% }); %>
</section>

<script>
    let thumbnail = document.getElementsByClassName("thumbnail");
    let projects = <%- JSON.stringify(projects, ['title', 'shortDesc', 'location', 'xPosition', 'yPosition']) %>;
        
    for (i=0; i<projects.length; i++){
        thumbnail[i].setAttribute("id", `image${i + 1}`)
        console.log(projects[i]);

        thumbnail[i].style.gridColumnStart = projects[i].xPosition;
        thumbnail[i].style.gridRowStart = projects[i].yPosition;
    };


</script>

<!-- auto selection of xPosition and yPosition values
could be done based on previous projects values if 
field left empty -->




<% include ./partials/footer %>