<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Square and Circle</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>

    <!-- Top Navbar -->
    <nav id="topnav">
        <div id="logo" class="pulse">
            <a href="/"><img src="../../images/final_logo_greyscale.png" alt="Square & Circle Graphic Design Logo"></a>
        </div>
        <!-- Responsive toggleable three line menu -->
        <input type="checkbox" id="nav-toggle">
        <label for="nav-toggle" class="hamburger-menu">
            <div class="menu-lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </label>

        <div id="links">
            <a class="moveFromTop1" id="graphic-design" href="../../graphic-design">Graphic Design</a>
            <a class="moveFromTop2" id="photography" href="../../photography">Photography</a>
            <a class="moveFromTop3" id="art" href="../../art">Art</a>
            <a class="leftlinks-responsive" href="../../about">Contact</a>
            <a class="leftlinks-responsive" href="../../concept">Concept</a>
        </div>

    </nav>


    <div class="layout">
        <!-- Page Content  -->

        <article id="example-projects">
            <% for(let i=0; i < 6; i++){ %>
                <% if(projects[i]){ %>
                    <% let project = projects[i] %>
                    <a class="box" href="/project/<%= project._id %>">
                        <img    sizes= "(max-width: 560px) 480px, (max-width: 767px) 720px, (max-width: 980px) 1080px" 
                                srcset="
                                <%= cloudinary.url(`square_circle/${project.title}_image0.jpg`, { quality: 65, width: '480', crop: 'scale', fetch_format: 'auto' }) %> 480w, 
                                <%= cloudinary.url(`square_circle/${project.title}_image0.jpg`, { quality: 65, width: '720', crop: 'scale', fetch_format: 'auto' }) %> 720w, 
                                <%= cloudinary.url(`square_circle/${project.title}_image0.jpg`, { quality: 65, width: '1080', crop: 'scale', fetch_format: 'auto' }) %> 1080w 
                                "
                                src="<%= cloudinary.url(`square_circle/${project.title}_image0.jpg`, { quality: 65, width: 'auto', crop: 'scale', fetch_format: 'auto' }) %>"
                                alt="<%= project.title %> image"
                        >
                    </a>
                <% } else {i=7} %>
            <% }; %>
        </article>

        <!-- Left Navbar -->
        <nav id="leftnav">
            <div id="leftlinks">
                <a class="moveFromLeft1" href="about">About</a>
                <a class="moveFromLeft2" href="concept">Concept</a>
            </div>
        </nav>

        <!-- RIGHT NAV -->
        <nav id="socialnavHome">
            <div id="sociallinks">
                <a class="moveFromRight1" href="https://www.behance.net/Gabriele_Ving">behance</a>
                <a class="moveFromRight2" href="https://www.instagram.com/square_and_circle_ideas/">instagram</a>
            </div>
        </nav>

        <!-- Bottom Navbar Mobile Homepage Only-->
        <nav id="bottomnavHomeResponsive">
            <div class="moveFromBottom" id="bottomlink">
                <a href="about">
                    <span id="landingname">Gabrielė Vingraitė </span> – 
                </a>
                <a href="about">
                    <span id="landingemail">hello@squareandcircle.lt</span>
                </a>
            </div>
        </nav>

        <!-- Right Navbar Mobile Homepage Only-->

        <nav id="socialnavHomeResponsive">
            <div id="sociallinks">
                <a class="moveFromRight1" href="https://www.behance.net/Gabriele_Ving">behance</a>
                <a class="moveFromRight2" href="https://www.instagram.com/square_and_circle_ideas/">instagram</a>
            </div>
        </nav>
    </div>

    <script type="text/javascript">
        const exampleProjects = document.querySelector("#example-projects");
        function homeFadeGrid() {
            setTimeout(function () {
                exampleProjects.classList.add('fadeIn');
                exampleProjects.style.display = 'grid';
            }, 480);
        };
        homeFadeGrid();
    </script>

<% include ./partials/footer %>