<% include ./partials/header %>

<% if(currentUser){ %>
    <a href="/project/<%= project._id %>/edit">
        <button>EDIT PROJECT</button>
    </a>
<% } %>

<!-- Left Navbar -->
<nav id="leftnav">
    <div id="leftlinks">
        <a href="about">About</a>
        <a href="concept">Concept</a>
    </div>
</nav>

<section class="projectpage">
    <article>
        <!-- removes first element from imgUrl's on project page to prevent image duplication with cover pic -->
        <% project.imgUrl.shift() %>
        <% project.imgUrl.forEach((img, index)=>{ %>
            <img sizes= '(max-width: 560px) 480px, (max-width: 767px) 720px, (max-width: 980px) 1080px'
                srcset="
                <%= cloudinary.url(`square_circle/${project.title}_image${index+1}.jpg`, {width: '720', crop: `fit`, quality: 65, fetch_format: 'auto' })%> 480w,
                <%= cloudinary.url(`square_circle/${project.title}_image${index+1}.jpg`, {width: '960', crop: `fit`, quality: 65, fetch_format: 'auto' })%> 720w,
                <%= cloudinary.url(`square_circle/${project.title}_image${index+1}.jpg`, {width: '1200', crop: `fit`, quality: 65, fetch_format: 'auto' })%> 1080w
                "
                src="<%= cloudinary.url(`square_circle/${project.title}_image${index+1}.jpg`, {width: 'auto', crop: `fit`, quality: 65, fetch_format: 'auto' }) %>"
                alt="Image of the <%= project.title %> project"
                class="fadeIn"
                >
        <% }) %>
        <header id="projectTitleSpace">
            <h1 class="activeTab" id="titleEng"><%= project.title %></h1>
            <h1 id="titleLith"><%= project.titleLith %></h1>
        </header>
        <div class="tabContent">
            <p class="activeTab descText fadeAnimation" id="engDesc"><%= project.englishDesc %></p>
            <p class="descText fadeAnimation" id="lithDesc"><%= project.lithuanianDesc %></p>
        </div>
        <button class="changeLang">EN / LT</button>
    </article>
</section>

<!-- replaces any found url within the description from database with HTML anchor tag for that link -->
<script type="text/javascript" src="/scripts/linkify.js"></script>
<!-- Toggles language option on each project page -->
<script type="text/javascript" src="/scripts/languageToggle.js"></script>
<% include ./partials/footer %>