<% include ./partials/header %>


<div class="projectpage">
    <div>
        <!-- will need to script the addidtion of multiple
        images from cloudinary array - use forEach -->
        <% project.imgUrl.forEach((img)=>{ %>
            <img src="<%= img %>" alt="<%= project.title %> image">
        <% }) %>
        <h1><%= project.title %></h1>
        <p><%= project.englishDesc %></p>
        <div id="greybar"></div>
        <p><%= project.lithuanianDesc %></p>
    </div>
</div>


<% include ./partials/footer %>