<% include ./partials/header %>

<% if(currentUser){ %>
    <a href="/project/<%= project._id %>/edit">
        <button>EDIT PROJECT</button>
    </a>
<% } %>

<section class="projectpage">
    <article>
        <!-- removes first element from imgUrl's on project page to prevent image duplication with cover pic -->
        <% project.imgUrl.shift() %>
        <% project.imgUrl.forEach((img, index)=>{ %>
            <img src="<%= cloudinary.url(`square_circle/${project.title}_image${index+1}.jpg`, {height: 0.8, crop:`fit`, quality: 60}) %>" alt="Image of the <%= project.title %> project">
        <% }) %>
        <h1><%= project.title %></h1>
        <p><%= project.englishDesc %></p>
        <div id="greybar"></div>
        <p><%= project.lithuanianDesc %></p>
    </article>
</section>

<script type="text/javascript">
    function linkify(textarr) {
        let urlRegex = /(https?:\/\/[^\s]+)/g;
        let linkarr = [];
        textarr.forEach(text => {
            let newText = text.innerText.replace(urlRegex, (url) => {
                return `<a href="${url}">${url}</a>`;
            });
            linkarr.push(newText);
        });
        return linkarr;
    }
    textToCheck = document.querySelectorAll("p");
    replacedUrls = linkify(textToCheck);
    textToCheck.forEach((text, i)=>{
        textToCheck[i].innerHTML = replacedUrls[i];
    });
</script>

<% include ./partials/footer %>