<% include ./partials/header %>

<a href="/project/<%= project._id %>/edit">
    <button>EDIT PROJECT</button>
</a>

<div class="projectpage">
    <div>
        <% project.imgUrl.forEach((img)=>{ %>
            <img src="<%= img %>" alt="<%= project.title %> image">
        <% }) %>
        <h1><%= project.title %></h1>
        <p><%= project.englishDesc %></p>
        <div id="greybar"></div>
        <p><%= project.lithuanianDesc %></p>
    </div>
</div>


<% include ./partials/footer %>